[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
requirements = "*"
gensim = "==3.3.0"
wget = "==3.2"
nltk = "==3.2.5"
"psycopg2" = "*"
jupyter = "*"
pandas = "*"

[requires]
python_version = "3.6"
