-i https://pypi.org/simple
backcall==0.1.0
bleach==3.0.2
boto3==1.9.30
boto==2.49.0
botocore==1.12.30
breadability==0.1.20
bz2file==0.98
certifi==2018.10.15
chardet==3.0.4
decorator==4.3.0
defusedxml==0.5.0
docopt==0.6.2
docutils==0.14
entrypoints==0.2.3
gensim==3.3.0
idna==2.7
ipykernel==5.1.0
ipython-genutils==0.2.0
ipython==7.0.1 ; python_version >= '3.3'
ipywidgets==7.4.2
jedi==0.13.1
jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyter==1.0.0
lxml==4.2.5
markupsafe==1.0
mistune==0.8.4
nbconvert==5.4.0
nbformat==4.4.0
nltk==3.2.5
notebook==*
numpy==1.15.3
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0 ; sys_platform != 'win32'
pickleshare==0.7.5
prometheus-client==0.4.2
prompt-toolkit==2.0.6
psycopg2==2.7.5
ptyprocess==0.6.0 ; os_name != 'nt'
pygments==2.2.0
python-dateutil==2.7.3 ; python_version >= '2.7'
pytz==2018.5
pyzmq==17.1.2
qtconsole==4.4.2
requests==2.20.0
requirements==0.1
s3transfer==0.1.13
scipy==1.1.0
send2trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
smart-open==1.7.1
sumy==0.7.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
urllib3==1.24 ; python_version >= '3.4'
wcwidth==0.1.7
webencodings==0.5.1
wget==3.2
widgetsnbextension==3.4.2
